<%= render "publishing_platform_publishing_components/components/layout", {
  title: "#{yield(:title).presence || @content_item.page_title} - Publishing Platform"
} do %>

  <div class="row">
    <div class="col-xs-12 col-md-8">
      <%= yield %>
    </div>          
  </div>

<% end %>

